<!DOCTYPE html>
<html lang="pt-br" ng-app="MinhaLista">
    <head>
        <title>Aula 01</title>
        <meta charset="UTF-8">
    </head>
    <body>

        <div ng-controller="TarefasController">
           
           <ul>
               <li ng-repeat="(chave, tarefa) in tarefas">
                {{tarefa.nome}} - {{tarefa.prioridade}} - 
                <a href='' ng-click="delete(chave)">Apagar este item</a> 
               </li>
           </ul>
    
            <br />

            <input type="text" placeholder="Tarefa" ng-model="nome">
            <br />
            <input type="text" placeholder="Prioridade" ng-model="prioridade">
            <button ng-click="adicionar()">Incluir</button>
        </div>
    
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="script-aula-02.js"></script>
    </body>
</html>
