<!DOCTYPE html>
<html lang="pt-br" ng-app="Formulario">
    <head>
        <title>Formulários</title>
        <meta charset="UTF-8">
        <style>
            /*
                Outras classes para manipulação
                ng-touched (após tocar no campo)
                ng-untouched (estado inicial, sem interação)
                ng-valid-email (validação exclusiva do email)
                e por aí vai
            */
            form input.ng-invalid { border:2px solid #F00; }
            form input.ng-valid { border:2px solid #0F0; }
        </style>
    </head>
    <body ng-controller="FormController">

        <!-- para enviar SEM VALIDAR, adicionar novalidade sobre o FORM --> 
        <form name='nameFormulario' ng-submit="salvar(formulario)">
            Nome <input name="nomeInput" type="text" ng-model='formulario.nome' required /> 
            <!-- Exibindo mensagens de erro personalizadas -->
            <div ng-show="nameFormulario.nomeInput.$touched">
            	<ul>
            		<li ng-show="nameFormulario.nomeInput.$error.required">
            			Este campo é obrigatório
            		</li>
            	</ul>
            </div>
            <br />

            Email <input name="emailInput" type="email" ng-model='formulario.email' required /> 

            <!-- verificar apenas no envio do formulario -->
            <div ng-show="nameFormulario.$submitted">
            	<ul>
            		<li ng-show="nameFormulario.emailInput.$error.required">
            			Este campo é obrigatório
            		</li>

            		<li ng-show="nameFormulario.emailInput.$error.email">
            			Isto não é um email
            		</li>
            	</ul>
            </div>
            <br />

            Sexo:  <input type="radio" ng-model='formulario.genero' value="M" />    Masculino  / 
                <input type="radio" ng-model='formulario.genero' value="F" /> Feminino <br />

			<br />

			<!-- criação diretiva min-idade -->
			Idade: <input type="text" name="idadeInput" ng-model="formulario.idade" min-idade required>
			<div ng-show="nameFormulario.idadeInput.$touched">
            	<ul>
            		<li ng-show="nameFormulario.idadeInput.$error.required">
            			Este campo é obrigatório
            		</li>
            		<li ng-show="nameFormulario.idadeInput.$error.idade">
            			Você precisa ser mais velho para acessar
            		</li>
            	</ul>
            </div>

            <br />

            <input type="button" value="Reset" ng-click="reset()" />
            <input type="submit" value="Enviar" />
        </form>

    
        <hr />
        
        <pre>
        	{{formulario}}
        </pre>
        
        <hr />
        
        <pre>
       		{{salvo}}        
        </pre>


		<hr />

		<pre>
			<!-- log completo do formulário -->
			{{nameFormulario}}
		</pre>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
		<script src="formulario.js"></script>
    </body>
</html>
